.footer {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  border-top: 1px solid $color-fondo-claro;
}

.footer__texto {
  font-size: 14px;
}


