header {
  background-color: transparent;
  border-bottom: 2px solid $color-primario-oscuro;
}

.header-container {
  margin-inline: 40px;
}

.logo-img {
  max-width: 90px;
  height: auto;
}

.company-name {
  font-size: 1.7rem;
}

header nav {
  justify-content: end;
}