
.nav-link {
  position: relative;
  z-index: 1;
  overflow: hidden;

  // Añadimos mixin animación hover
  @include hover-fill-bg(100%, $color-fondo-claro);
}


nav {
  justify-content: center;
}

nav ul {
  justify-content: center;
}
