.navegacion {
  background-color: $color-secundario;
  flex-direction: row;
}

.navegacion__lista {
  display: flex;
  margin: 0;
  font-size: 18px;
}

.navegacion__item {
  margin: 0 40px;
  @include link($color-texto);
  transition: all .2s ease-in-out;

  @include responsive(medium) {
    margin: 0 15px;
    font-size: 16px;
  }
  
  @include responsive(small) {
    margin: 0;
    font-size: 14px;
  }

}

.navegacion__item:hover {
  @include link($color-texto-oscuro);
}


.active {
  color: $color-texto-oscuro;
  text-shadow: text-shadow(2);
}


