.navegacion {
  background-color: white;
  flex-direction: row;
}

.navegacion__lista {
  display: flex;
  margin: 0;
  font-size: 18px;
}

.navegacion__item {
  margin: 0 40px;
  @include link($color-texto);
  transition: all .2s ease-in-out;
}

.navegacion__item:hover {
  @include link($color-texto-oscuro);
}
