

.grid-participantes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 50px;
}

.participante {
  background-color: $color-primario;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.participante img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.participante h3 {
  color: $color-secundario;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.participante p {
  font-size: 0.95rem;
  color: #555;
}

.participante {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: $color-secundario;
    z-index: -1;
    transition: width 0.4s ease;
  }

  &:hover::before {
    width: 100%;
  }
}


#modalImagen {
  width: 250px;
  height: 250px;
}

/* Tablet (2 columnas) */
@media (min-width: 600px) {
  .grid-participantes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .participante {
    width: calc(50% - 1rem);
  }
}

/* Escritorio (4 columnas) */
@media (min-width: 992px) {
  .participante {
    width: calc(25% - 1rem);
  }
}