.plato-info {
  padding: 20px;
  margin-block: 10px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plato__detalle {
  padding: 20px;
  border-radius: 8px;
}

.plato__titulo {
  margin-bottom: 10px;
  font-size: 38px;
  text-transform: uppercase;
}

.plato__imagen {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

.plato__descripcion {
  padding-inline: 40px;
  margin-block: 12px;
  font-size: 18px;
  color: $color-texto;
}
