.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.justificado {
  text-align: justify;
}

.oculto {
  display: none;
}
