@mixin responsive($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin link($color) {
  color: $color;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
