@mixin responsive($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin link($color) {
  color: $color;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

@function text-shadow($depth) {
  @return 0px $depth * 1px $depth * 2px rgba(0, 0, 0, 0.4);
}


