@layer base, layout, components;


$input-focus-border-color: $color-secundario-oscuro;

@layer base {
  
  .btn {
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2;
  }
  
}

@layer layout {
  .newsletter__form {
    container-type: inline-size;
    container-name: newsletter;
  }
  
  
  @container newsletter (min-width: 600px) {
    .newsletter__field {
      display: flex;
      gap: 1rem;
      align-items: center;
  
      label {
        width: 30%;
        text-align: left;
      }
  
      input {
        width: 70%;
      }
    }
  }
}

@layer components {
  .newsletter__checkbox:checked {
    border-color: $color-secundario;
  }
}

