.container-main {
  container-type: inline-size;
  container-name: main;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  margin-bottom: 50px;
  color: $color-primario;
  background: $color-fondo;
}

// Titulo 
.titulo {
  font-size: 2rem;
  font-weight: bold;
}

// Contenido / eventos - sitio
.list-group-item {
  color: $color-primario;
  background-color: transparent;
  border: none;
}


// Uso de :is
:is(.contenido, .colaboradores) h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: .9rem;
  border-left: 5px solid $color-secundario-oscuro;
}

// Colaboradores
.colaboradores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: .9rem;

  &ul {
    padding-left: 1.2rem;
    margin: 0;
  }
}



@container main (min-width: 768px) {
  // Grid principal
  .main-content {
    display: grid;
    grid-template-areas:
    ". Titulo Titulo"
    "Contenido . ."
    "Contenido . Colaboradores";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    height: 90vh;
  }

  .titulo {
    grid-area: Titulo;
    align-self: center;
    justify-self: start;
    font-size: 3rem;
  }

  .contenido {
    grid-area: Contenido;
    font-size: .8rem;
  }
  
  .colaboradores {
    grid-area: Colaboradores;
    font-size: .8rem;
  }

  // Grid secundario
  .colaboradores__container {
    display: grid; 
    grid-area: Colaboradores;
    grid-template-areas: 
    "ayuntamiento . ."
    ". universidad ."
    ". . nombre"; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    align-items: center;
    justify-content: center;
  }

  .colaboradores__ayuntamiento {
    grid-area: ayuntamiento;
  }
  
  .colaboradores__universidad {
    grid-area: universidad;
  }
  
  .colaboradores__nombre {
    grid-area: nombre;
  }
}

@container main (min-width: 990px) {
  .contenido, .colaboradores {
    font-size: .9rem;
  }
}

@supports not (display: grid) {
  .main-content{
    display: block;
  }

  .Titulo, .Eventos, .Colaboradores {
    margin-bottom: 2rem;
  }

  .colaboradores__container {
    display: block;
  }

  .colaboradores__ayuntamiento, .colaboradores__universidad, .colaboradores__nombre {
    margin-bottom: 2rem;
  }
}


