
<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="shortcut icon" href="./assets/images/logo.png" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="../../assets/styles/main.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Articulo - Jornadas Economia Circular</title>
  </head>
  <body>

    <!-- Header -->

    <include src="./views/header.html"></include>
  

    <!-- Main content -->
    <div class="cabecera">
      <div class="titulo titulo-articulo">
        <h1 class="titulo-titulo">Economía Circular: El Futuro de la Sostenibilidad</h1>
        <h2 class="titulo-subtitulo">By: Xavi Serrano Salvador</h2>
      </div>
    </div>

    <div class="container">
      <article class="contenedor">
    
        <section class="introduccion">
          <div class="cita-articulo">
            <div class="cita-titulo">
              <h3>Un cambio de paradigma necesario</h3>
            </div>
            <div class="cita-texto">
              <blockquote>
                “En una economía circular, el residuo se convierte en recurso, el diseño piensa en el futuro y la innovación está al servicio del planeta.”
              </blockquote>
            </div>
          </div>
        </section>
        
        
        <div class="border-top border-2 border-success my-2"></div>
    
        
        <section class="ventajas">
          <h3>Ventajas de la economía circular</h3>
          <ul class="lista-ventajas">
            <li><span>1</span> Reduce significativamente la generación de residuos.</li>
            <li><span>2</span> Conserva los recursos naturales al fomentar la reutilización.</li>
            <li><span>3</span> Impulsa la innovación y crea nuevos modelos de negocio sostenibles.</li>
            <li><span>4</span>Disminuye la dependencia de materias primas vírgenes.</li>
            <li><span>5</span>Contribuye a mitigar el cambio climático.</li>
          </ul>
        </section>
        
        
        <div class="border-top border-2 border-success my-2"></div>

        <section class="aplicaciones-futuras">
          <h3>La economía circular como modelo futuro</h3>
          <p>El futuro de este modelo se proyecta como una piedra angular del desarrollo sostenible global. La Unión Europea impulsa estrategias para consolidar este enfoque de aquí a 2050. Tecnologías como la inteligencia artificial, el blockchain y el Internet de las Cosas serán claves para optimizar los procesos productivos y la trazabilidad.</p>
          
          <blockquote>
            “La economía circular no es una opción, es una necesidad”, destacan expertos del sector en múltiples jornadas y congresos.
          </blockquote>
          
          <img src="../../assets/images/futuro-economia-circular.jpeg" alt="">
          
        </section>

        <section class="conclusion">
          <p>La economía circular representa mucho más que una tendencia: es una transformación profunda del modelo productivo actual. Adoptarla implica repensar la forma en la que diseñamos, consumimos y gestionamos los recursos, fomentando un sistema más eficiente, resiliente y respetuoso con el entorno. Si bien aún existen desafíos técnicos y sociales, los beneficios ambientales, económicos y sociales que ofrece este modelo lo convierten en una de las claves para un futuro sostenible. Apostar por la circularidad no solo es una oportunidad, es una responsabilidad compartida entre ciudadanos, empresas e instituciones.</p>
        </section>
      </article>

    </div>

  
    <!-- Footer -->
    <include src="./views/footer.html"></include>

    <script type="module" src="../../assets/scripts/main.js"></script>
  </body>

</html>
