

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; // uso del dinamic viewport height
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: $fuente-principal;
  line-height: 1.6;
  color: $color-primario;
  background: $color-fondo;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  @include link($color-primario);
  
  &:hover {
    color: $color-primario-oscuro;
  }
}

.container {
  flex: 1;
}

