<footer class="max-w-[1480px] border-t border-t-[var(--color-fondo-claro)] p-3">
  <!-- Logo -->
    <div class="flex items-center gap-2">
      <a href="/src/index.html" class="flex items-center gap-2">
        <img src="/src/assets/images/logo.png" alt="Logo" class="max-w-[90px] h-auto">
        <span class="font-bold text-success text-[1.7rem]">REvolve</span>
      </a>
    </div>

  <!-- Navegación -->
  <include class="footer-navegacion" src="./views/nav.html"></include>


  <!-- Créditos -->
  <div class="d-flex flex-column align-items-end">
    <p class="text-sm mb-0 text-secondary">&copy; Universitat Oberta de Catalunya</p>
    <p class="text-sm mb-0">
      <a href="https://github.com/Ivax7" target="_blank" class="text-primario-oscuro">Xavier Serrano Salvador</a>
    </p>
  </div>
</footer>
