
<article class="plato__detalle plato__detalle--introduccion">
  <h2 class="plato__titulo">Botifarra amb seques</h2>
  <img class="plato__imagen" src="./assets/images/butifarra.jpg" alt="">
  <p class="plato__descripcion justificado">
    La amb <b>botifarra amb seques</b> és un plat tradicional de la gastronomia catalana que consisteix en una botifarra a la graella acompanyada de mongetes (mongetes blanques o mongetes). És una <b>recepta senzilla</b> però molt apreciada pel seu sabor i <b>vincle amb la cultura</b> i la cuina popular de Catalunya.</p>
</article>

<article class="plato__detalle plato__detalle--historia">
  <h2 class="plato__titulo">Historia i origen</h2>
  <img class="plato__imagen" src="./assets/images/historia.jpg" alt="">
  <p class="plato__descripcion justificado">
    L'origen d'aquest plat es remunta a la <b>cuina pagesa catalana de l'Edat Mitjana</b>. En aquella època, els agricultors necessitaven menjars nutritius i econòmics, que aprofitessin els productes locals i fossin fàcils de preparar.

    Les mongetes eren un aliment bàsic perquè els llegums eren fàcils de conservar i proporcionaven energia durant les llargues jornades de treball al camp.
    La botifarra és una de les <b>embotits més antics de Catalunya</b>, amb referències que daten de <b>l'època romana</b>. La seva preparació s'ha mantingut pràcticament intacta des de llavors, i en molts masos s'hi elabora artesanalment.
    Al llarg dels segles, aquest plat es va convertir en un emblema de la cuina catalana, passant de les llars rurals als restaurants i festes populars.</p>
</article>

<article class="plato__detalle plato__detalle--popularidad">
  <h2 class="plato__titulo">¿Perquè es una recepta famosa?</h2>
  <img class="plato__imagen" src="./assets/images/popularidad.jpg" alt="">
  <p class="plato__descripcion justificado">
    La fama d'aquest plat rau en diversos aspectes:
  </p>

  <ul class="justificado">
    <li>✅ <b>Sabor i senzillesa</b> → Tot i ser un plat simple, la combinació de la botifarra sucosa amb la textura cremosa de les mongetes i un toc d'oli d'oliva el fa irresistible.</li>
    
    <li>✅ <b>Ingredient icònic</b> → La botifarra és un embotit típic de Catalunya, amb diverses varietats com la blanca, la negra o la de perol. La qualitat i el sabor artesanal han contribuït a la reputació del plat.</li>
    
    <li>✅ <b>Símbol d'identitat</b> → Es considera un plat patrimonial de Catalunya, representant la tradició i la connexió amb la terra.</li>
    
    <li>✅ <b>Popularitat en restaurants i festivals</b> → És una recepta que es troba a totes les fondes, masies i restaurants tradicionals catalans, i sol servir-se a festivals gastronòmics i fires.</li>
  </ul>
</article>

<article class="plato__detalle plato__detalle--lugares">
  <h2 class="plato__titulo">Llocs típics</h2>
  <img class="plato__imagen" src="./assets/images/mapa.png" alt="">
  <p class="plato__descripcion justificado">
    "Mongetes amb Botifarra" és molt popular a tot Catalunya, però hi ha algunes regions on destaca especialment:
  </p>
    <ul class="justificado">
      <li>
        📍 <b>Vallès Occidental i Vallès Oriental</b> → Aquestes comarques són famoses per la seva producció de botifarres de gran qualitat, per la qual cosa és un plat molt comú als seus restaurants i festes populars.
      </li>

      <li>
        📍 <b>Barcelona</b> → Molts restaurants de cuina catalana tradicional a la capital inclouen aquest plat al menú, tant en la versió més clàssica com en versions més gurmet.
      </li>

      <li>
        📍 <b>Girona i la Garrotxa</b> → En aquesta zona s'elabora una botifarra artesana excepcional, cosa que ha fet que el plat guanyi encara més protagonisme.
      </li>

      <li>
        📍 <b>Fires gastronòmiques i festes majors</b> → És un plat imprescindible en moltes festivitats locals, com la Fira de la Botifarra a la Garriga o la Fira de l'Embotit a Olot.
      </li>

    </ul>
</article>