<article class="plato__detalle plato__detalle--receta">
  <h2 class="plato__titulo receta__titulo">Recepta de Botifarra amb Seques</h2>
  <h3 class="receta__subtitulo">Ingredients</h3>
  <ul class="receta__lista justificado">
    <li>🥩 2 botifarres</li>
    <li>🥔 200g de mongetes blanques</li>
    <li>🧄 2 grans d’all</li>
    <li>🫒 Oli d’oliva verge extra</li>
    <li>🧂 Sal i pebre al gust</li>
  </ul>

  <h3 class="receta__subtitulo">Passos</h3>
  <ol class="receta__pasos justificado">
    <li>🔸 Coure les mongetes fins que estiguin tendres.</li>
    <li>🔸 En una paella amb oli, saltar l’all picat.</li>
    <li>🔸 Afegir les mongetes i daurar-les lleugerament.</li>
    <li>🔸 Cuinar la botifarra a la graella fins que estigui daurada.</li>
    <li>🔸 Servir-ho tot junt i gaudir! 😋</li>
  </ol>
  </article>