$color-primario: #fff;
$color-primario-oscuro: #a8a8a8;
$color-secundario: color(display-p3 0.09 0.57 0.09);
$color-secundario-oscuro: #198754;
$color-fondo: #161616;
$color-fondo-oscuro: #464646;
$color-fondo-claro: #ffffff9d;
$color-terciario: #2c7a7b;
$color-terciario-transparente: #2c7a7bd8;

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/neuemontreal/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Light';
  src: url('../fonts/neuemontreal/NeueMontreal-Light.otf') format('opentype');
}

$fuente-principal: 'Neue Montreal', sans-serif;
$fuente-secundaria: 'Neue Montreal Light', sans-serif;
