$color-primario: #a52a2a;
$color-secundario: #f4e3c1;
$color-texto: #474747;
$color-texto-oscuro: #1d1d1d;
$color-fondo: #ffffdc;

$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Merriweather', sans-serif;

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px
);
