@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* variables.scss */

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/neuemontreal/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Montreal Light';
  src: url('../fonts/neuemontreal/NeueMontreal-Light.otf') format('opentype');
}

:root {
  --color-primario: #fff;
  --color-primario-oscuro: #a8a8a8;
  --color-secundario: color(display-p3 0.09 0.57 0.09);
  --color-secundario-oscuro: #198754;
  --color-fondo: #161616;
  --color-fondo-oscuro: #464646;
  --color-fondo-claro: #ffffff9d;
  --color-terciario: #2c7a7b;
  --color-terciario-transparente: #2c7a7bd8;
  --success: #198754;

  --fuente-principal: 'Neue Montreal', sans-serif;
  --fuente-secundaria: 'Neue Montreal Light', sans-serif;
}

@layer utilities {
  /* Text colors */
  .text-primario {
    color: var(--color-primario);
  }
  .text-primario-oscuro {
    color: var(--color-primario-oscuro);
  }
  .text-secundario {
    color: var(--color-secundario);
  }
  .text-secundario-oscuro {
    color: var(--color-secundario-oscuro);
  }
  .text-terciario {
    color: var(--color-terciario);
  }
  .text-terciario-transparente {
    color: var(--color-terciario-transparente);
  }
  .text-success {
    color: var(--success);
  }

  /* Background colors */
  .bg-fondo {
    background-color: var(--color-fondo);
  }
  .bg-fondo-oscuro {
    background-color: var(--color-fondo-oscuro);
  }
  .bg-fondo-claro {
    background-color: var(--color-fondo-claro);
  }

  /* Fonts */
  .font-principal {
    font-family: var(--fuente-principal);
  }
  .font-secundaria {
    font-family: var(--fuente-secundaria);
  }

  /* Letter spacing */
  .tracking-wide2 {
    letter-spacing: 2px;
  }
}



/* _global.scss */

body {
  @apply flex flex-col min-h-[100dvh] p-0 m-0 leading-[1.6] text-primario bg-fondo font-principal;
}

li {
  @apply list-none;
}

a {
  @apply no-underline text-primario cursor-pointer font-bold tracking-wide2;
}


/* _typography.scss */

h1 {
  @apply text-4xl font-bold m-0 text-center uppercase tracking-wider;
}

h2 {
  @apply font-secundaria text-3xl tracking-wider;
}

h3 {
  @apply text-secundario; 
}

p {
  @apply leading-loose;
}



/* _contenedor.css */

.contenedor {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}


/* _footer.scss */

footer {
  @apply bottom-0 flex flex-wrap gap-4 items-center justify-between w-full mx-auto;
}

/* _header.scss */
header {
  @apply bg-transparent border-b-2 border-primario-oscuro;
}

header nav {
  @apply justify-end;
}

/* _nav.scss */

.nav-link {
  @apply relative z-10 p-2;
}

.nav-link::before {
  content: "";
  @apply absolute bottom-0 left-0 bg-fondo-claro;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: width 0.4s ease;
}

.nav-link:hover::before {
  width: 100%;
}


/* _helpers.css */

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* _page1.scss */


.colaboradores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: .9rem;

  &ul {
    padding-left: 1.2rem;
    margin: 0;
  }
}

@layer utilities {
  .grid3x3 {
    display: flex;
    flex-direction: column;
  }

  .area-contenido {
    margin-top: 50px;
  }

  .grid-colaboradores {
    padding-left: 0;
  }

}


@media(min-width: 770px) {
  .area-contenido, .area-colaboradores {
    font-size: 1rem;
  }

  .grid3x3 {
    display: grid;
    grid-template-areas:
      ". Titulo Titulo"
      "Contenido . ."
      "Contenido . Colaboradores";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .area-titulo {
    grid-area: Titulo;
  }

  .area-contenido {
    grid-area: Contenido;
  }

  .area-colaboradores {
    grid-area: Colaboradores;
  }


  .grid-colaboradores {
    display: grid;
    grid-template-areas:
      "ayuntamiento . ."
      ". universidad ."
      ". . nombre";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5px;
  }

  .area-ayuntamiento {
    grid-area: ayuntamiento;
  }

  .area-universidad {
    grid-area: universidad;
  }

  .area-nombre {
    grid-area: nombre;
  }

  header div {
    margin-inline: 100px; 
  }

}

@supports not (display: grid) {
  .grid3x3 {
    display: block;
  }

  .area-titulo, .area-contenido, .area-colaboradores {
    margin-bottom: 2rem;
  }

  .grid-colaboradores {
    display: block;
  }

  .area-ayuntamiento, .area-universidad, .area-nombre {
    margin-bottom: 2rem;
  }
}








/* _page2.scss */

/* Tablet (2 columnas) */
@media (min-width: 600px) {
  .participantes__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .participantes__item {
    width: calc(50% - 1rem);
  }
}

/* Escritorio (4 columnas) */
@media (min-width: 990px) {
  .participantes__item {
    width: calc(25% - 1rem);
  }
}

.participantes__item {
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 5px;
    content: "";
    background-color: var(--color-secundario);
    transition: width 0.4s ease;
  }

  &:hover::before {
    width: 100%;
  }
}

